<form action="/madlib">
    <p>
    <label>Write a name:</label>
    <input type="text" name="name"
    </p>
    <p>
    <label>Write a color:</label>
    <input type="text" name="color"
    </p>
    <p>
    <label>Write a noun:</label>
    <input type="text" name="noun"
    </p>
    <p>
    <label>Write an adjective:</label>
    <input type="text" name="adjective"
    </p>
    <p>
    <button type="submit">Submit</button>
    </p>
</form>